<%= form_with(model: post, local: true, class: "needs-validation") do |form| %>
  <% if post.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h4>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :headline %>
    <%= form.text_field :headline, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class: "form-control", rows: 5, required: true %>
  </div>

  <%= form.hidden_field :user_id, value: params[:user_id] %>

  <div class="form-group text-center">
    <%= form.submit "Save Changes", class: "btn btn-primary" %>
  </div>
<% end %>
