<% content_for :title, @post.headline %>

<div class="container my-5">
  <% if notice %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
  <% end %>

  <div class="card mb-4">
    <div class="card-body">
      <h1 class="card-title"><%= @post.headline %></h1>
      <p class="card-text"><%= @post.content %></p>
      <p class="text-muted">Posted by <b><%= @post.user.username %></b></p>
    </div>
    <div class="card-footer text-center">
      <%= button_to "Destroy this post", @post, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %> <br/>
      <%= link_to "Back to posts", root_path, class: "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>
